name: Multi-Subscription AKS Health Check

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

jobs:
  aks-health:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install tools
        run: |
          sudo az aks install-cli
          sudo apt-get update -y
          sudo apt-get install -y jq

      - name: Run AKS Health Script
        run: |
          chmod +x scripts/aks_health_all_subs.sh
          ./scripts/aks_health_all_subs.sh

      - name: Upload HTML Reports to Artifact
        uses: actions/upload-artifact@v4
        with:
          name: aks-health-report
          path: reports/

      - name: Send Email with AKS HTML Report
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: "AKS Health Report - GitHub Actions"
          to: ${{ secrets.MAIL_TO }}
          from: ${{ secrets.MAIL_FROM }}
          body: |
            Hello,

            Please find the attached AKS Health Report (HTML).

            Regards,
            GitHub Actions
          attachments: "reports/AKS Cluster Health.html"
